.mycard{
    width:400px;
    height:600px;
    border:1px solid rgba(0, 0, 0, 0.397);
    border-radius: 40px;
    margin:5px auto;
    padding:15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: black;
}
.mycard:hover{
    background-color:white;
    box-shadow: 0 15px 15px 0 #18d8be;
}
.Carddesc{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    text-align: center;
    
    background-color:black;
}
.description{
    font-size: 13px;
    font-weight: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    
    text-align: justify;
   

}
.title{
   justify-content: center;
}
.image{
    width:200px;
    height:300px;
}

