.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #282c34;
  height: 120px;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
 color: yellow;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 70px;
 }

.icon{
  color: rgba(255, 0, 0, 0.658);
  border-radius:2px;
  font-size:40px;
}

@keyframes move-text {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

.ajoutmovie{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  
}

